datasets/pages_restaurants_html
datasets/reviews_restaurants_html
.ipynb_checkpoints
.DS_Store
datasets/reviews_urls.csv
datasets/reviews_sentences.csv
datasets/balanced_reviews_sentences.csv
datasets/reviews.csv
02 dataset annotation/splits_not_annotated
