01 dataset creation/pages_restaurants_html
01 dataset creation/reviews_restaurants_html
01 dataset creation/reviews_dataset
.ipynb_checkpoints
.DS_Store
datasets/reviews_urls.csv
datasets/reviews_sentences.csv
datasets/balanced_reviews_sentences.csv
datasets/reviews.csv
02 dataset annotation/splits_not_annotated
__tests/Untitled.ipynb
__tests/tripadvisor.html
__tests/train16.xml
__tests/train15.xml
__tests/checksemeval.ipynb
.env
04 llm synthesis/falcon-40b-Q4_K_S.gguf
04 llm synthesis/llama-2-13b.Q4_0.gguf
04 llm synthesis/llama-2-70b.Q4_0.gguf
07 train classifier/output